@font-face {
    font-family: 'KanitBlack';
    src: url('font/Kanit-Regular.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;

}

body {
	text-align: center;
	background: #010b1a;
 	font-family: 'KanitBlack', sans-serif;
 	min-height: 400px;
 	max-height: 800px;
}

.app {
	background: #fff;
	width: 90%;
	height: 500px;
	max-width: 800px;
	margin: 100px auto 0;
	border-radius: 10px;
	padding: 30px;
}

.app h1 {
	font-size: 25px;
	color: black;
	font-weight: 600;
	border-bottom: 1px solid #333;
	padding-bottom: 30px;
}

.game {
	background-color: blue;
}

.quiz {
	padding: 20px 0;
}

.quiz h2 {
	font-size: 18px;
	color: black;
	font-weight: 600;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
	background: #222;
	color: #fff;
}

.btn:disabled{
	cursor: no-drop;
}

#next-btn{
	background-color: black;
	color: #fff;
	font-weight: 500;
	width: 150px;
	border: 0;
	padding: 10px;
	margin: 20px auto 0;
	border-radius: 4px;
	cursor: pointer;
	display: none;
	text-align: center;
}

.correct{
	background: #9aeabc;
}

.incorrect{
	background: #ff9393;
}

#play-btn{
	width: 100px;
	text-align: center;
	display: block;
	margin: auto;
	margin-bottom: 5px;
	margin-top: 150px;
}

#options-btn{
	width: 100px;
	text-align: center;
	display: block;
	margin: auto;
	margin-bottom: 5px;
	margin-top: 5px;
}

#credits-btn{
	width: 100px;
	text-align: center;
	display: block;
	margin: auto;
	margin-bottom: 5px;
	margin-top: 5px;
}

#question{
	text-align: left;
}

#credits{
	margin-top: 150px;
}

#options{
	margin-top: 120px;
}

.slidecontainer {
  width: 500px;
  margin: auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.menu{
	width: 100px;
	text-align: center;
	display: block;
	margin: auto;
	margin-bottom: 5px;
	margin-top: 150px;
}