@font-face {
    font-family: 'KanitBlack';
    src: url('font/Kanit-Regular.ttf') format('truetype');
}

* {
	margin: 0;
	padding: 0;

}

body {
	text-align: center;
	background: #001e4d;
 	font-family: 'KanitBlack', sans-serif;
 	min-height: 400px;
 	max-height: 800px;
}

.app {
	background: #fff;
	width: 90%;
	height: 500px;
	max-width: 800px;
	margin: 100px auto 0;
	border-radius: 10px;
	padding: 30px;
}

.app h1 {
	font-size: 25px;
	color: black;
	font-weight: 600;
	border-bottom: 1px solid #333;
	padding-bottom: 30px;
}

.game {
	background-color: blue;
}

.quiz {
	padding: 20px 0;
}

.quiz h2 {
	font-size: 18px;
	color: black;
	font-weight: 600;
}

.btn {
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover:not([disabled]){
	background: #222;
	color: #fff;
}

.btn:disabled{
	cursor: no-drop;
}

#home-btn {
	background-color: black;
	color: #fff;
	font-weight: 500;
	width: 150px;
	border: 0;
	padding: 10px;
	margin: 20px auto 0;
	border-radius: 4px;
	cursor: pointer;
	display: none;
	text-align: center;
}

#next-btn {
	background-color: black;
	color: #fff;
	font-weight: 500;
	width: 150px;
	border: 0;
	padding: 10px;
	margin: 20px auto 0;
	border-radius: 4px;
	cursor: pointer;
	display: none;
	text-align: center;
}

.correct{
	background: #9aeabc;
}

.incorrect{
	background: #ff9393;
}

#play-btn{
	width: 100px;
	text-align: center;
	display: block;
	margin: auto;
	margin-bottom: 5px;
	margin-top: 150px;
}

#options-btn{
	width: 100px;
	text-align: center;
	display: block;
	margin: auto;
	margin-bottom: 5px;
	margin-top: 5px;
}

#credits-btn{
	width: 100px;
	text-align: center;
	display: block;
	margin: auto;
	margin-bottom: 5px;
	margin-top: 5px;
}

#question{
	text-align: left;
}

#credits{
	margin-top: 150px;
}

#options{
	margin-top: 120px;
}

.menu{
	width: 100px;
	text-align: center;
	display: block;
	margin: auto;
	margin-bottom: 5px;
	margin-top: 150px;
}

.menu-btn {
	width: 30px;
	height: 30px;
	padding: auto;
	background-color: black;
	color: white;
	border-radius: 30px;
	font-weight: bold;
	transition: .3s;
	cursor: pointer;
	margin-top: 20px; 
}

.menu-btn:hover {
	background-color: grey;
	color: black;
}

.slidercontainer {
	box-shadow: 0 1px 10px 0 black;
	padding: 25px;
	border-radius: 50px
	display: flex;
	align-items: center;
}

.slider {
	position: relative;
	width: 100px;
	height: 8px;
}

.slider input[type="range"] {
    position: absolute;
    left: 0;
    top: 20;
    width: 100px;
    height: 8px;
    -webkit-appearance: none;
    background: transparent;
    z-index: 99;
}

.slider input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: 2px solid rgb(9, 205, 240);
	cursor: pointer;
	box-shadow: 0 0 0 1px #fff;
	border-radius: 50%;
	margin-top: 25px; 
}

.slider input::-webkit-slider-thumb:hover {
	transform: scale(1.1);
}

.slider progress {
	width: 100px;
	height: 8px;
	-webkit-appearance: none;
	top: 0;
	border-radius: 5px;
	overflow: hidden;
}

.slider progress::-webkit-progress-bar {
	background: #f0f0f0;
}

.slider progress::-webkit-progress-value {
	background: rgb(9, 205, 240);
}

.sliderValue {
	width: 28px;
	height: 20px;
	margin-left: 100px;
	text-align: center;
}
